.directory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300vh;
    text-align: center;
}

.mariet {
    grid-area: 1 / 1 / 3 / 3;
}

.mariet .icon,
.mariet .link #link-btn {
    background-color: #c7ddf8;
}

.hano {
    grid-area: 3 / 1 / 5 / 3;
}

.hano .icon,
.hano .link #link-btn {
    background-color: #ebdbff;
}

.yaron {
    grid-area: 5 / 1 / 7 / 3;
}

.yaron .icon,
.yaron .link #link-btn {
    background-color: #b5eed7;
}

#half {
    display: flex;
    flex-direction: row;
}

#dir-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#pfp {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#link-btn {
    color: black;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    margin: 5px;
    margin-top: 30%;
}

h1 {
    margin: 5px;
    margin-top: 10%;
    margin-bottom: 15%;
}

p {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    #pfp {
        margin: 5px;
        height: 150px;
        width: 150px;
    }

    #link-btn {
        width: 100%;
        font-size: 90%;
    }
}

/* .dirGrid-header::before{
    content: "";
    display: block;
    width: 600px;
    height: 5px;
    background: #191970;
} */