.offcanvas {
    font-size: 20px;
    text-indent: 2em;
}

.offcanvas-header {
    padding-left: 0px;
}

.offcanvas-body {
    padding: 0px;
}

.offcanvas-body #item:hover {
    background-color: rgb(45, 45, 115); /*change this color?*/
    color: white;
}

.navbar-logo{
    font-family: "Lucida Console", "Courier New", monospace; /*temporary text style*/
  }
  
  @media screen and (max-width: 600px){
    .nav-responsive{
        width: 100%
    }
}
/* COLORS ARE NOT FINAL */