.offcanvas {
    font-size: 20px;
    text-indent: 2em;
}

.offcanvas-header {
    padding-left: 0px;
}

.offcanvas-body {
    padding: 0px;
}

.offcanvas-body #item:hover {
    background-color: white;
    /*change this color?*/
    color: #333451;
}

.navbar-logo {
    font-family: "Lucida Console", "Courier New", monospace;
    /*temporary text style*/
}

@media screen and (max-width: 600px) {
    .nav-responsive {
        width: 100%
    }
}

#item.nav-link{
    font-size: 20px;
}
/* COLORS ARE NOT FINAL */